<!DOCTYPE html>

<!-- =============================================================== -->
<!-- classdetails.html                                               -->
<!-- Author: Alfred Ripoll and Wangari Karani                        -->
<!-- =============================================================== -->

<html>
    <body>
        {% include 'header.html %'}
        <hr>
        

        
        <hr>
        <span>Click here to do <a href="javascript:history.back()">another class search</a> </span>
        {% include 'footer.html' %}
    </body>
</html>
