<!DOCTYPE html>

<!-- =============================================================== -->
<!-- errorpage.html                                                -->
<!-- Author: Alfred Ripoll and Wangari Karani                        -->
<!-- =============================================================== -->

<html>
  <head>
    <title>Registrar's Office></title>
   </head>
  <body>
    {% include 'header.html' %}
    <hr>
    {{error_msg}}
    <br>
    {% include 'footer.html' %}
   </body>
</html>
